body {
  background-color: black;
}
h1{
  color: red;
  text-align: center;
}
.tiobligth{
  text-align: center;
width: 1000px;
height: 30px;
margin-left: 10%;
margin-right: 30%;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
box-shadow: 0px 0px 110px 20px white;
background-color: white;
margin-top: 5%;
}

.son{
  width: 500px;
  height: 500px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-shadow: 0px 0px 110px 20px #fdee00;
  background-color: #fdee00;
  margin-top: 12%;
  margin-left: 25%;
}